In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
agg_df = pd.read_csv('agg.csv')

C:\Users\ronal\AppData\Local\Temp\ipykernel_8196\52191312.py:1: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  agg_df = pd.read_csv('agg.csv')

In [3]:
leie  = pd.read_csv('LEIE.csv')

C:\Users\ronal\AppData\Local\Temp\ipykernel_8196\3648953945.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  leie  = pd.read_csv('LEIE.csv')

In [4]:
leie.shape

(78034, 18)

In [5]:
leie.dtypes

LASTNAME       object
FIRSTNAME      object
MIDNAME        object
BUSNAME        object
GENERAL        object
SPECIALTY      object
UPIN           object
NPI             int64
DOB           float64
ADDRESS        object
CITY           object
STATE          object
ZIP             int64
EXCLTYPE       object
EXCLDATE        int64
REINDATE        int64
WAIVERDATE      int64
WVRSTATE       object
dtype: object

### Match LEIE NPI with df NPI
### LEIE data from 2023

In [6]:
leie.head()

,LASTNAME,FIRSTNAME,MIDNAME,BUSNAME,GENERAL,SPECIALTY,UPIN,NPI,DOB,ADDRESS,CITY,STATE,ZIP,EXCLTYPE,EXCLDATE,REINDATE,WAIVERDATE,WVRSTATE
0,NaN,NaN,NaN,"#1 MARKETING SERVICE, INC",OTHER BUSINESS,SOBER HOME,NaN,0,NaN,239 BRIGHTON BEACH AVENUE,BROOKLYN,NY,11235,1128a1,20200319,0,0,NaN
1,NaN,NaN,NaN,"1 BEST CARE, INC",OTHER BUSINESS,HOME HEALTH AGENCY,NaN,0,NaN,"2161 UNIVERSITY AVENUE W, STE",SAINT PAUL,MN,55114,1128b5,20230518,0,0,NaN
2,NaN,NaN,NaN,101 FIRST CARE PHARMACY INC,OTHER BUSINESS,PHARMACY,NaN,1972902351,NaN,"C/O 609 W 191ST STREET, APT D",NEW YORK,NY,10040,1128b8,20220320,0,0,NaN
3,NaN,NaN,NaN,14 LAWRENCE AVE PHARMACY,PHARMACY,NaN,NaN,0,NaN,14 LAWRENCE AVENUE,SMITHTOWN,NY,11787,1128a1,19880830,0,0,NaN
4,NaN,NaN,NaN,143 MEDICAL EQUIPMENT CO,DME COMPANY,DME - OXYGEN,NaN,0,NaN,701 NW 36 AVENUE,MIAMI,FL,33125,1128b7,19970620,0,0,NaN

In [7]:
leie.columns

Index(['LASTNAME', 'FIRSTNAME', 'MIDNAME', 'BUSNAME', 'GENERAL', 'SPECIALTY',
       'UPIN', 'NPI', 'DOB', 'ADDRESS', 'CITY', 'STATE', 'ZIP', 'EXCLTYPE',
       'EXCLDATE', 'REINDATE', 'WAIVERDATE', 'WVRSTATE'],
      dtype='object')

In [8]:
# Create a set of unique NPIs from leie for faster lookup
leie_npi_set = set(leie['NPI'])

# Create the 'fraud' column using vectorized operations
agg_df['fraud'] = agg_df['NPI'].isin(leie_npi_set).astype(int)

In [9]:
agg_df[agg_df['fraud'] == 1]

,NPI,Last_Org_Name,First_Name,MI,Crdntls,Gndr,Ent_Cd,St1,St2,City,State_Abrvtn,State_FIPS,Zip5,RUCA,RUCA_Desc,Cntry,Type,Mdcr_Prtcptg_Ind,HCPCS_Cd,HCPCS_Desc,HCPCS_Drug_Ind,Place_Of_Srvc,Tot_Benes,Tot_Srvcs,Tot_Bene_Day_Srvcs,Avg_Sbmtd_Chrg,Avg_Mdcr_Alowd_Amt,Avg_Mdcr_Pymt_Amt,Avg_Mdcr_Stdzd_Amt,fraud
4143,1003278615,Green,Donna,NaN,NaN,F,I,615 East Abrams,NaN,Arlington,TX,48,76010,1.0,Metropolitan area core: primary flow within an...,US,Nurse Practitioner,Y,"99337, 99350, 99496","Established patient assisted living visit, typ...",N,O,194,497.0,497,189.719638,159.187767,109.986217,109.197726,1
10235,1003926270,Law,Charles,R,M.D.,M,I,120 Oslo Cir,NaN,Birmingham,AL,1,35211,1.0,Metropolitan area core: primary flow within an...,US,Physical Medicine and Rehabilitation,Y,"99213, 99214","Established patient outpatient visit, total ti...",N,O,32,37.0,37,87.594595,85.887027,41.195135,65.012703,1
25547,1023087293,Simmons,Walter,N,"M.D., MPH",M,I,10320 W Mcdowell Rd,Suite N1444,Avondale,AZ,4,85392,2.0,Metropolitan area high commuting: primary flow...,US,Emergency Medicine,Y,"93010, 99283, 99284, 99285, 99291",Routine electrocardiogram (ekg) using at least...,N,F,356,375.0,375,978.984000,122.177893,107.039013,103.843413,1
45149,1043208564,Parker,Kenneth,E,DC,M,I,127 Avenue C,Ste A,Snohomish,WA,53,98290,2.0,Metropolitan area high commuting: primary flow...,US,Chiropractic,Y,98941,"Chiropractic manipulative treatment, 3 to 4 sp...",N,O,16,40.0,40,60.000000,40.600000,5.684000,5.552750,1
51033,1043470370,Yang,Sung,S,M.D.,M,I,2155 Kalakaua Ave,Ste 308,Honolulu,HI,15,96815,1.0,Metropolitan area core: primary flow within an...,US,General Practice,Y,"99214, 99491, J1100","Established patient outpatient visit, total ti...","N, Y",O,41,610.0,114,92.603509,81.210482,61.673529,59.322682,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1108423,1982743589,Leiva,Orlando,E,M.D.,M,I,6230 Sw 70th St,NaN,South Miami,FL,12,33143,1.0,Metropolitan area core: primary flow within an...,US,General Practice,Y,"99213, 99349, G0439, G0444","Established patient outpatient visit, total ti...",N,O,62,68.0,68,104.187794,98.087647,81.084559,79.917353,1
1117674,1992723282,Ciancimino,David,E,MD,M,I,4697 Main St,NaN,Bridgeport,CT,9,6606,1.0,Metropolitan area core: primary flow within an...,US,Psychiatry,Y,"90836, 99212",Psychotherapy with evaluation and management v...,N,O,26,274.0,274,87.500000,77.367847,57.547190,53.523102,1
1118061,1992735591,Kroop,Richard,J,MD,M,I,201 S Buena Vista St,Suite # 300,Burbank,CA,6,91505,1.0,Metropolitan area core: primary flow within an...,US,Internal Medicine,Y,"36415, 71045, 72100, 73030, 73560, 80061, 8007...",Insertion of needle into vein for collection o...,N,"O, F",10023,29777.0,29775,71.114981,30.828218,24.877540,23.838322,1
1120379,1992799704,Lagattuta,Francis,P,MD,M,I,135 Carmen Ln,NaN,Santa Maria,CA,6,93458,1.0,Metropolitan area core: primary flow within an...,US,Physical Medicine and Rehabilitation,Y,"11104, 11105, 64483, 64484, 64490, 64491, 6449...","Punch biopsy of single skin lesion, Punch biop...","N, Y","O, F",3771,5101.0,4470,141.331096,89.680970,81.164586,78.538357,1
1121394,1992860977,Holt,Christopher,G,MD,M,I,3940 4th Ave,Suite 140,San Diego,CA,6,92103,1.0,Metropolitan area core: primary flow within an...,US,Internal Medicine,Y,"36415, 99213",Insertion of needle into vein for collection o...,N,O,58,140.0,140,163.804000,60.624000,43.926500,40.175714,1

### Check if Part B is N and confirm if they are not in df.
### Order and referring data from 2023

In [10]:
order_referring = pd.read_csv('Order_referring.csv')

In [11]:
order_referring.head()

          NPI  LAST_NAME FIRST_NAME PARTB DME HHA PMD
0  1558467555   .MCINDOE     THOMAS     Y   Y   Y   Y
1  1417051921    A BELLE          N     Y   Y   Y   Y
2  1972040137  A NOVOTNY  ELIZABETH     Y   Y   Y   Y
3  1760465553   A SATTAR   MUHAMMAD     Y   Y   Y   Y
4  1295400745     A'NEAL     BROGAN     Y   Y   N   N

In [12]:
partb_n = order_referring[order_referring.PARTB == 'N']
partb_n.head()

            NPI LAST_NAME FIRST_NAME PARTB DME HHA PMD
17   1164404232      AABY       AAZY     N   Y   N   Y
26   1427070549   AADLAND   KRISTINE     N   Y   N   N
30   1609816669      AAEN      NANCY     N   Y   N   Y
96   1477039147     AAMIR   MUHAMMAD     N   Y   N   Y
149  1013069087     AARON      BRUCE     N   Y   N   N

In [13]:
# Create a set of unique NPIs from leie for faster lookup
partb_n_set = set(partb_n['NPI'])

# Create the 'fraud' column using vectorized operations
agg_df['partb_n'] = agg_df['NPI'].isin(partb_n_set).astype(int)

In [14]:
merged_df = agg_df.merge(leie[['NPI', 'EXCLTYPE', 'EXCLDATE']], on='NPI', how='left')

In [15]:
merged_df.head()

,NPI,Last_Org_Name,First_Name,MI,Crdntls,Gndr,Ent_Cd,St1,St2,City,State_Abrvtn,State_FIPS,Zip5,RUCA,RUCA_Desc,Cntry,Type,Mdcr_Prtcptg_Ind,HCPCS_Cd,HCPCS_Desc,HCPCS_Drug_Ind,Place_Of_Srvc,Tot_Benes,Tot_Srvcs,Tot_Bene_Day_Srvcs,Avg_Sbmtd_Chrg,Avg_Mdcr_Alowd_Amt,Avg_Mdcr_Pymt_Amt,Avg_Mdcr_Stdzd_Amt,fraud,partb_n,EXCLTYPE,EXCLDATE
0,1003000126,Enkeshafi,Ardalan,NaN,M.D.,M,I,6410 Rockledge Dr Ste 304,NaN,Bethesda,MD,24,20817,1.0,Metropolitan area core: primary flow within an...,US,Internal Medicine,Y,"99213, 99214, 99217, 99220, 99222, 99223, 9922...","Established patient outpatient visit, total ti...",N,"O, F",1198,3678.0,3678,134.100313,77.034913,61.441327,52.602722,0,0,NaN,NaN
1,1003000134,Cibull,Thomas,L,M.D.,M,I,2650 Ridge Ave,Evanston Hospital,Evanston,IL,17,60201,1.0,Metropolitan area core: primary flow within an...,US,Pathology,Y,"88304, 88305, 88312, 88313, 88321, 88341, 8834...",Pathology examination of tissue using a micros...,N,F,4288,7295.0,5152,158.027460,37.403355,27.620868,25.974581,0,0,NaN,NaN
2,1003000142,Khalil,Rashid,NaN,M.D.,M,I,4126 N Holland Sylvania Rd,Suite 220,Toledo,OH,39,43623,1.0,Metropolitan area core: primary flow within an...,US,Anesthesiology,Y,"62323, 64483, 64484, 64490, 64491, 64493, 6449...",Injection of substance into spinal canal of lo...,"N, Y","F, O",539,1062.0,823,173.634509,95.907323,71.649996,73.319772,0,0,NaN,NaN
3,1003000423,Velotta,Jennifer,A,M.D.,F,I,11100 Euclid Ave,NaN,Cleveland,OH,39,44106,1.0,Metropolitan area core: primary flow within an...,US,Obstetrics & Gynecology,Y,"81002, G0101, Q0091","Urinalysis, manual test, Cervical or vaginal c...",N,O,85,87.0,87,43.563218,31.303448,31.303448,32.156667,0,0,NaN,NaN
4,1003000480,Rothchild,Kevin,B,MD,M,I,12605 E 16th Ave,NaN,Aurora,CO,08,80045,1.0,Metropolitan area core: primary flow within an...,US,General Surgery,Y,"99202, 99203, 99212, 99213","New patient outpatient visit, total time 15-29...",N,F,82,86.0,86,234.558140,63.825698,48.870698,47.386395,0,0,NaN,NaN

In [16]:
merged_df[merged_df['fraud'] == 1]

,NPI,Last_Org_Name,First_Name,MI,Crdntls,Gndr,Ent_Cd,St1,St2,City,State_Abrvtn,State_FIPS,Zip5,RUCA,RUCA_Desc,Cntry,Type,Mdcr_Prtcptg_Ind,HCPCS_Cd,HCPCS_Desc,HCPCS_Drug_Ind,Place_Of_Srvc,Tot_Benes,Tot_Srvcs,Tot_Bene_Day_Srvcs,Avg_Sbmtd_Chrg,Avg_Mdcr_Alowd_Amt,Avg_Mdcr_Pymt_Amt,Avg_Mdcr_Stdzd_Amt,fraud,partb_n,EXCLTYPE,EXCLDATE
4143,1003278615,Green,Donna,NaN,NaN,F,I,615 East Abrams,NaN,Arlington,TX,48,76010,1.0,Metropolitan area core: primary flow within an...,US,Nurse Practitioner,Y,"99337, 99350, 99496","Established patient assisted living visit, typ...",N,O,194,497.0,497,189.719638,159.187767,109.986217,109.197726,1,0,1128a4,20220519.0
10235,1003926270,Law,Charles,R,M.D.,M,I,120 Oslo Cir,NaN,Birmingham,AL,1,35211,1.0,Metropolitan area core: primary flow within an...,US,Physical Medicine and Rehabilitation,Y,"99213, 99214","Established patient outpatient visit, total ti...",N,O,32,37.0,37,87.594595,85.887027,41.195135,65.012703,1,0,1128b4,20220920.0
25547,1023087293,Simmons,Walter,N,"M.D., MPH",M,I,10320 W Mcdowell Rd,Suite N1444,Avondale,AZ,4,85392,2.0,Metropolitan area high commuting: primary flow...,US,Emergency Medicine,Y,"93010, 99283, 99284, 99285, 99291",Routine electrocardiogram (ekg) using at least...,N,F,356,375.0,375,978.984000,122.177893,107.039013,103.843413,1,0,1128b1,20220320.0
45149,1043208564,Parker,Kenneth,E,DC,M,I,127 Avenue C,Ste A,Snohomish,WA,53,98290,2.0,Metropolitan area high commuting: primary flow...,US,Chiropractic,Y,98941,"Chiropractic manipulative treatment, 3 to 4 sp...",N,O,16,40.0,40,60.000000,40.600000,5.684000,5.552750,1,0,1128a2,20230119.0
51033,1043470370,Yang,Sung,S,M.D.,M,I,2155 Kalakaua Ave,Ste 308,Honolulu,HI,15,96815,1.0,Metropolitan area core: primary flow within an...,US,General Practice,Y,"99214, 99491, J1100","Established patient outpatient visit, total ti...","N, Y",O,41,610.0,114,92.603509,81.210482,61.673529,59.322682,1,0,1128a1,20210819.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1108423,1982743589,Leiva,Orlando,E,M.D.,M,I,6230 Sw 70th St,NaN,South Miami,FL,12,33143,1.0,Metropolitan area core: primary flow within an...,US,General Practice,Y,"99213, 99349, G0439, G0444","Established patient outpatient visit, total ti...",N,O,62,68.0,68,104.187794,98.087647,81.084559,79.917353,1,0,1128a3,20220920.0
1117674,1992723282,Ciancimino,David,E,MD,M,I,4697 Main St,NaN,Bridgeport,CT,9,6606,1.0,Metropolitan area core: primary flow within an...,US,Psychiatry,Y,"90836, 99212",Psychotherapy with evaluation and management v...,N,O,26,274.0,274,87.500000,77.367847,57.547190,53.523102,1,0,1128a4,20230620.0
1118061,1992735591,Kroop,Richard,J,MD,M,I,201 S Buena Vista St,Suite # 300,Burbank,CA,6,91505,1.0,Metropolitan area core: primary flow within an...,US,Internal Medicine,Y,"36415, 71045, 72100, 73030, 73560, 80061, 8007...",Insertion of needle into vein for collection o...,N,"O, F",10023,29777.0,29775,71.114981,30.828218,24.877540,23.838322,1,0,1128a1,20230119.0
1120379,1992799704,Lagattuta,Francis,P,MD,M,I,135 Carmen Ln,NaN,Santa Maria,CA,6,93458,1.0,Metropolitan area core: primary flow within an...,US,Physical Medicine and Rehabilitation,Y,"11104, 11105, 64483, 64484, 64490, 64491, 6449...","Punch biopsy of single skin lesion, Punch biop...","N, Y","O, F",3771,5101.0,4470,141.331096,89.680970,81.164586,78.538357,1,0,1128b7,20230707.0
1121394,1992860977,Holt,Christopher,G,MD,M,I,3940 4th Ave,Suite 140,San Diego,CA,6,92103,1.0,Metropolitan area core: primary flow within an...,US,Internal Medicine,Y,"36415, 99213",Insertion of needle into vein for collection o...,N,O,58,140.0,140,163.804000,60.624000,43.926500,40.175714,1,0,1128b4,20221020.0

In [17]:
merged_df.shape

(1123589, 33)

In [18]:
states  = pd.read_csv('states.csv')

In [19]:
states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60109 entries, 0 to 60108
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NPI     16107 non-null  object
 1   State   60109 non-null  object
 2   Text    60109 non-null  bool
dtypes: bool(1), object(2)
memory usage: 998.0+ KB

In [20]:
states.dropna(inplace = True)

In [21]:
states.describe()

               NPI    State   Text
count        16107    16107  16107
unique       12560       33      1
top     1316370950  Florida  False
freq            11     4802  16107

In [22]:
states[states.Text == True]

Empty DataFrame
Columns: [NPI, State, Text]
Index: []

In [23]:
# Create a set of unique NPIs from leie for faster lookup
states_set = set(states['NPI'])

# Create the 'fraud' column using vectorized operations
agg_df['states_set'] = agg_df['NPI'].isin(states_set).astype(int)

In [24]:
agg_df['states_set'].value_counts()

0    1123589
Name: states_set, dtype: int64

In [26]:
merged_df['eligibility'] = (merged_df['partb_n'] | merged_df['fraud']).astype(int)

In [27]:
merged_df[merged_df['fraud'] == 1].shape

(109, 34)

In [28]:
merged_df[(merged_df['eligibility'] == 1) & (merged_df['fraud'] == 1 )].shape

(109, 34)

In [29]:
merged_df[merged_df['partb_n'] == 1].shape

(9330, 34)

In [30]:
merged_df[(merged_df['eligibility'] == 1) & (merged_df['partb_n'] == 1 )].shape

(9330, 34)

In [31]:
merged_df.to_csv('merged.csv', index = False)